<html>
  <body>
    <div class="max-w-sm mx-auto mt-10 mb-32 rounded overflow-hidden shadow-lg">
      <img
        class="w-full"
        src="./resources/assets/images/logo.png"
        alt="Sunset in the mountains"
      />
      <div class="px-6 py-4">
        <div class="font-bold text-xl">FLYR</div>
        <p class="text-gray-700 text-base">
          Team alpha the BEST
        </p>
      </div>
      <div class="px-6 py-4">
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"
          >#ALPHA</span
        >
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"
          >#AIRLINE</span
        >
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700"
          >#FLYR</span
        >
      </div>
    </div>
  </body>
</html>
