<html>
  <body>
    <div class="max-w-sm mx-auto mt-10 mb-32 rounded overflow-hidden shadow-lg">
      <img
        class="w-full"
        src="./resources/assets/images/logo.png"
        alt="Sunset in the mountains"
      />
      <div class="px-6 py-4">
        <div class="font-bold text-xl">Tech solutions</div>
        <p class="text-gray-700 text-base">
          Nuestra empresa nace con la idea de acercar la tecnologia a todas las
          personas de Colombia, integrando el diseño y la usabilidad en una
          tienda virtual orientada a la comercialización de productos
          tecnológicos, pensando en solucionar y suplir las necesidades del
          hogar y el mercado empresarial
        </p>
      </div>
      <div class="px-6 py-4">
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"
          >#tech</span
        >
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"
          >#computer</span
        >
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700"
          >#innovation</span
        >
      </div>
    </div>
  </body>
</html>
