<html>
  <head> </head>
  <body>
    <div id="modalt"></div>
    <table id="tabla-productos" class="table-auto mt-10 mb-32">
      <thead class="bg-gray-300">
        <tr>
          <th class="px-4 py-2">Imagen</th>
          <th class="px-4 py-2">ID</th>
          <th class="px-4 py-2">Referencia</th>
          <th class="px-4 py-2">Disponible</th>
          <th class="px-4 py-2">Precio</th>
          <th class="px-4 py-2">Resumen</th>
        </tr>
      </thead>
      <tbody id="contenido-tabla" class="bg-white"></tbody>
    </table>
  </body>
</html>
